{% for food in order %}			
	<h2>{{food}}</h2>
		<div>	
			<form>
			    <fieldset>
			        <legend>Select a Type</legend>
			        {% for style in food.style.all %}
			            <input type="radio" id="{{style}}" name="style" value="{{style}}"/>
			            <label for="{{style}}">{{style}}</label>
			        {% endfor %}
			    </fieldset>
			</form>
		</div>
		<div>	
			<form>
			    <fieldset>
			        <legend>Select</legend>
			        {% for style in food.style.all %}
			        	{% for extra in style.legalExtras.all %}
				            <input type="checkbox" id="{{extra}}" name="extra" value="{{extra}}"/>
				            <label for="{{extra}}">{{extra}}</label>
				        {% endfor %}
			        {% endfor %}
			    </fieldset>
			</form>
		</div>
		<div>	
			<form>
			    <fieldset>
			    	 <legend>Select</legend>
			        {% for style in food.style.all %}
			        	{{style.sizeList.fields }}
				            <input type="radio" id="{{price}}" name="price" value="{{price}}" />
				            <label for="{{price}}">{{price}}</label>		        
			        {% endfor %}
			    </fieldset>
			</form>
		</div>
{% endfor %}






			