<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        {% load static %}
        <link rel="stylesheet" href={% static "orders/styles/style.css" %}>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src={% static "orders/scripts/orders.js" %}></script>
        
		<script>

			 document.addEventListener("DOMContentLoaded", function(event) {
			    let current_path = window.location.pathname.split("/")[1]
			    if (current_path == ""){
			    	current_path = "index"
			    }

			    let prevActive = document.querySelector('.active')
			    if (prevActive){
			    	prevActive.classList.remove("active");
			    }
			  
			    let active = document.querySelector(`.${current_path}`);
    			active.classList.add("active");

			  });
		</script>
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="{% url 'index' %}">Pinocchio's</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
			    	<li class="nav-item index">
			    		<a class="nav-link" href="{% url 'index' %}">Home</a>
			      	</li>
			     	<li class="nav-item menu">
			        	<a class="nav-link" href="{% url 'menu' %}">Menu</a>
			      	</li>
			      	<li class="nav-item orders">
			        	<a class="nav-link" href="{% url 'orders' %}">Order</a>
			      	</li>
			      	{% if request.user.is_authenticated %}
			      	<li class="nav-item signOut signedOut">
			        	<a class="nav-link" href="{% url 'signOut' %}">Sign Out</a>
			      	</li>
			      	{% else %}
			      	<li class="nav-item signIn signedIn">
			        	<a class="nav-link" href="{% url 'signIn' %}">Sign In</a>
			      	</li>
			      	<li class="nav-item register registered">
			        	<a class="nav-link" href="{% url 'register' %}">Sign Up</a>
			      	</li>
			      	{% endif %}
			    </ul>
			</div>
		</nav>

        {% block body %}
        {% endblock %}
    </body>
</html>
