{% extends "orders/base.html" %}

{% block head %}

{% load static %}
<script src={% static "orders/scripts/cart.js" %}></script>
<script src={% static "orders/scripts/ajax.js" %}></script>
<script src={% static "orders/scripts/checkout.js" %}></script>
<script src="https://js.stripe.com/v3/"></script>

{% endblock %}

{% block body %}
<h1>Hello, {{ user.username }}</h1>
<p>Heres your cart</p>

<div class ="orders-container">
	Cart
</div>
<div class ="subtotal-container">
	Subtotal: $<span class="subtotal">0.00<span>
</div>
<div class ="tax-container">
	Tax: $<span class="tax">0.00<span>
</div>
<div class ="total-container">
	Total: $<span class="total">0.00<span>
</div>

<div class="order-info-container">
	<div>
		<label class="input-label" for="address">Street Address:</label>
		<input type="text" name="address" class="input address" maxlength="200">
	</div>
	<div>
		<label class="input-label" for="apt-num"">Apt Number:</label>
		<input type="text" name="apt-num" class="input apt-num" maxlength="10">
	</div>
	<div>
		<label class="input-label" for="city"">City:</label>
		<select class="city input" name="city">
			<option value="Cambridge">Cambridge</option>
			<option value="Boston">Boston</option>
		</select>
	</div>
	<div>
		<label class="input-label" for="zip-code"">Zip Code:</label>
		<input type="text" name="zip-code" class="zip-code input" maxlength="10">
	</div>
	<div>
		<label class="input-label" for="del-inst"">Devlvery Instructions:</label>
		<input type="text" name="del-inst" class="del-inst input" maxlength="200">
	</div>
	<div>
		<label class="input-label" for="phone"">Phone Number:</label>
		<input class="phone input" type="text" name="phone" maxlength="15">
	</div>
	<div>
		<label class="input-label" for="phone"">Payment:</label>
		<input type="radio" name="payment" value="cash" class="cash">Cash
		<input type="radio" name="payment" value="card" class="credit-card">Card
	</div>
	<div>
		<input type="submit" value="Submit" class="submit payment-submit">
	</div>

	<form action="/charge" method="post" id="payment-form">
		<div class="stripe-container">
			<label for="card-element">
				Credit or debit card
			</label>
			<div id="card-element">
				<!-- A Stripe Element will be inserted here. -->
			</div>
				<!-- Used to display form errors. -->
			<div id="card-errors" role="alert"></div>
		</div>
		<button>Submit</button>
	</form>
</div>

{% endblock %}