{% extends "orders/base.html" %}

{% block body %}
<h1>Hello, {{ user.username }}</h1>
<p>What would you like today?</p>

<div class ="container">
	<div class="food-container">
		<div class="text-center food-link">Pizzas</div>
	</div>
	<div class="food-container">
		<div class="text-center food-link">Subs</div>
	</div>
	<div class="food-container">
		<div class="text-center food-link">Pastas</div>
	</div>
	<div class="food-container">
		<div class="text-center food-link">Salads</div>
	</div>
	<div class="food-container">
		<div class="text-center food-link">Dinner Platters</div>
	</div>
</div>


{% endblock %}