{% extends "orders/base.html" %}

{% block head %}
	<meta http-equiv="refresh" content="15" >
	{% load static %}
	<script src={% static "orders/scripts/ajax.js" %}></script>
	<script src={% static "orders/scripts/allOrders.js" %}></script>
{% endblock %}

{% block body %}
	<div class="orders-count">There are currently {{orderInfo|length}} orders</div>
	{% for dict in orderInfo %}
		<div class="ticket ticket{{dict.orderCount}}">
		{% for item in dict.order %}
			{% if forloop.first %}
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th scope="col">Quantity</th>
							<th scope="col">Size</th>
							<th scope="col">Order</th>
						</tr>
					</thead>
					<tbody>
			{% endif %}	
						<tr>
							<td>{{item.quantity}}</td>
							<td>{{item.size}}</td>
							{% if not item.toppings %}
								<td>{{item.style}}</td>
							{% else %}
								<td>{{item.style}} with 
									{% for topping in item.toppings %}
										{{topping}}
									{% endfor %}
								</td>
							{% endif %}
						</tr>	
			{% if forloop.last %}
					</tbody>
				</table>
				<div>Total: ${{dict.price}}</div>
				<div>{{dict.info.address}} 
					{% if dict.info.aptNum%}
						Apt Num: {{dict.info.aptNum}} 
					{% endif %}
				{{dict.info.city}} {{dict.info.zipCode}} </div>
				{% if dict.info.delInst%}
					<div>Delivery Instructions: {{dict.info.delInst}}</div>
				{% endif %}
				<div>Phone: {{dict.info.phone}}</div> 
				<div>Payment: {{dict.info.payment}}</div>
			{% endif %}
		{% endfor %}
		{% if not filled %}
			<button type="button" class="btn btn-primary" id="{{dict.orderCount}}">Order Completed</button>
		{% endif %}
		</div>
	{% endfor %}


{% endblock %}